    h1{
    color:orange;
    font-size:2em;
    border-bottom: 2px solid green;
    }
    .container{
    margin:4px 2px 1px 32px;    
    }
    .role{
    color:brown;
    font-weight:bold;
    font-size:1em;
    }
    
    p{
    font-family:Arial,  ;
    }
    
    h2{
    color:blue;
    }
    a:hover{
    color:green;
    }
    a:visited{
    color:red;
    }
    #contact{
    border:4px solid pink;
    }
    li:first-child{
    color:blue;
    }
    li:nth-child{
    color:red;
    font-weight:2px;
    }
    li:last-child{
    color:magenta;
    }
    